@import url("./styles/botoes.css");
@import url("./styles/home.css");
@import url("./styles/modal.css");
@import url("./styles/list.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, input, ul, li {
    text-decoration: none;
    border: none;
    list-style-type: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

:root {
    --black: #0B0B0D;
    --blue: #24c0eb;
    --light-green: #85e6c0;
    --light-gray: #daf3ea;
    --white: #f7f4e8;
    --red: #f46472;
    --blue-secondary: #8be4fd;
    --green: #51bd9c;
}

.hidden {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

main {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
}

footer {
    height: 15%;
    width: 100%;
    background-color: var(--blue-secondary);
}

/*
    Estilos Básicos
*/



.input {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    border: 1px solid var(--primary);
}

/*********************************************************/


/*Modais*/





.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}