/*Estilo da Home*/

#form-home{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem;
    background-color: var(--white);
    border-radius: 1rem;
}

#form-home label {
    font-size: 3rem;
    font-weight: bold;
    align-self: center;
}


#form-home input {
    background-color: var(--blue-secondary);
}